body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration:underline;
}

.f-info-links,.f-info-social,.f-info-brand{
    width: 100%;
}

.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
    color: red;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    border: none !important;
    background-color: #fe424d !important;
}

/* Edit route */
.edit-btn{
    border: none !important;
    background-color: #fe424d !important;
}

/* Show image */
.show-image{
    height: 50vh;
}

.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.show-btns{
    display: flex;
}

.review-card{
    border: 0.01rem solid rgb(204, 201, 201) !important;
    padding: 0.9rem 0 0.5rem 0.9rem !important;
    border-radius: 0.7rem;
}

#map{
    height: 300px;
    width: 100vh;
}